/* style.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#image {
    width: 300%;
    height: 300%;
    object-fit: contain;
}

#clickable-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
