__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
node_modules/
typescript-server-app/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity
dist/
build/
*.log
typescript-server-app/packages/server/logs/

